@model IEnumerable<CartItem>

<div id="User" style="display:none;" data-email="@User.Identity.Name"
  data-customer="@User.IsInRole("northwind-customer")"></div>
<h3>Shopping Cart</h3>
<div style="display:none;" id="ProductId"></div>

<table class="table table-hover">
  <thead>
    <tr>
      <th class="col pr-5"><strong>Product</strong></th>
      <th class="col pr-5"><strong>Price</strong></th>
      <th class="col pr-5 text-center"><strong>Quantity</strong></th>
      @* <th class="col pr-5"></th> *@
      <th class="col pr-5"><strong>Total</strong></th>
      <th class="col"></th>
    </tr>
  </thead>
  <tbody>
    @foreach (CartItem c in Model)
    {
      <tr id="row_@c.CartItemId">
        <td class="form-group col pr-5">@(c.Product.ProductName)</td>
        <td class="form-group col pr-5">
          $<span id="price_@c.CartItemId">@c.Product.UnitPrice.ToString("F")</span>
        </td>
        <td class="form-group col pr-5 text-nowrap">
          <button class="IncreaseCartQuantity btn btn-primary btn-sm" data-id="@c.CartItemId">
            <i class="fa-solid fa-plus"></i>
          </button>
          <span id="qty_@c.CartItemId">@c.Quantity</span> Unit(s)
          <button class="DecreaseCartQuantity btn btn-secondary btn-sm" data-id="@c.CartItemId">
            <i class="fa-solid fa-minus"></i>
          </button>
        </td>
        @* <td class="form-group col pr-5">
          <button id="Save" data-original="@c.Quantity" type="button"
            class="btn btn-success btn-sm" id="save_@c.CartItemId" data-id="@c.CartItemId">
            Save
          </button>
        </td> *@
        <td class="form-group col pr-5 text-nowrap">
          $<span id="total_@c.CartItemId">@((c.Quantity * c.Product.UnitPrice).ToString("F"))</span>
        </td>
        <td class="form-group col">
          <button type="button" class="RemoveItem btn btn-danger btn-sm" data-id="@c.CartItemId">
            Delete
          </button>
        </td>
      </tr>
    }
  </tbody>
</table>
<div class="row">
  <a asp-controller="Cart" asp-action="Checkout"><button type="button" class="btn btn-success btn-sm">Checkout</button></a>
</div>
@section Scripts
{
  <script src="../../js/cart.js"></script>
}